<!DOCTYPE html>
<html>
  <head>
    <title>RailsVuejsJsx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash.key? :errors %>
        <ul class="list-group my-4">
          <% flash[:errors].each do |field, messages| %>
            <% messages.each do |message| %>
              <li class="list-group-item list-group-item-danger"><%= field %>: <%= message %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
